<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/4.3.1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.4.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <link href="../../static/css/style.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2>Show Customer</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <form>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Customer Id:</label>
                    <div class="col-sm-10">
                        <p class="form-control-plaintext" th:text="${customer.id}">Customer Id</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">First Name:</label>
                    <div class="col-sm-10">
                        <p class="form-control-plaintext" th:text="${customer.firstName}">First Name</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Last Name:</label>
                    <div class="col-sm-10">
                        <p class="form-control-plaintext" th:text="${customer.lastName}">Last Name</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Email:</label>
                    <div class="col-sm-10">
                        <p class="form-control-plaintext" th:text="${customer.email}">Email</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Phone Number:</label>
                    <div class="col-sm-10">
                        <p class="form-control-plaintext" th:text="${customer.phoneNumber}">Phone Number</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Address Line One:</label>
                    <div class="col-sm-10">
                        <p class="form-control-plaintext" th:text="${customer.billingAddress.addressLine1}">Address Line One</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Address Line Two:</label>
                    <div class="col-sm-10">
                        <p class="form-control-plaintext" th:text="${customer.billingAddress.addressLine2}">Address Line Two</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">City:</label>
                    <div class="col-sm-10">
                        <p class="form-control-plaintext" th:text="${customer.billingAddress.city}">City</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">State:</label>
                    <div class="col-sm-10">
                        <p class="form-control-plaintext" th:text="${customer.billingAddress.state}">State</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Zip Code:</label>
                    <div class="col-sm-10">
                        <p class="form-control-plaintext" th:text="${customer.billingAddress.zipCode}">Zip Code</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
<script>
    $(document).prop('title', 'Customer ' + [[${customer.id}]]);
</script>